
<a ui-sref="main.category.product({productId: product.id,infoType:'common'})">GO TO COMMON</a>

<a ui-sref="main.category.product({productId: product.id,infoType:'photos'})">GO TO PHOTOS</a>
<a ui-sref="main.category.product({productId: product.id,infoType:'comments'})">GO TO COMMENTS</a>

<div ng-include src="product.activeTab.toString() + '.html'">

</div>

<!-- template1.html -->
<script type="text/ng-template" id="photos.html">
    <p ng-repeat="photo in product.activePage" ng-bind="photo"></p>
</script>
<!-- template1.html -->
<script type="text/ng-template" id="common.html">
    Content of common
</script>

<!-- template2.html -->
<script type="text/ng-template" id="comments.html">
    <p ng-repeat="comment in product.activePage" ng-bind="comment"></p>
</script>
