<section class="col-lg-10 col-md-10 col-sm-10">
    <div class="container-fluid">
        <div ng-repeat="product in categoryProducts">
            <div class="col-lg-3 col-md-3 col-sm-4 product-block">
                <a ui-sref="main.category.product({ productId: product.id,infoType:'common'  })" ng-bind="product.name"></a>

                <p ng-bind="product.price"></p>

                <p ng-bind="product.shortDescription"></p>
                <button ng-click="product.addPrice()">Add price for free!!</button>
            </div>
        </div>

    </div>
</section>