<section class="container-fluid row">
    <nav class="navbar navbar-default col-lg-2 col-md-2 col-sm-2">
        <div class="container"></div>
        <div ng-repeat="category in categories">
            <p>
                <a ng-bind="category" ui-sref="main.category({ categoryName: category})" class="navbar-link"></a>
            </p>
        </div>
    </nav>
    <ui-view>
    </ui-view>
</section>